openl3==0.4.1
tensorflow-datasets==4.3.0
tensorflow==2.4.2
hearvalidator==2021.0.3
structlog==21.1.0
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
